.title {
	font-size: 1.25em;
}

.subtitle {

}

.cushion-nickname {
	font-size: 1em;
}

/* This is probably not how you're supposed to do this, but it works! */
.pillow-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}	

@media only screen and (max-width: 576px) {
	.pillow-container {
		flex-direction: column;
	}
}

@media only screen and (min-width: 576px) {
	.pillow-container {
		flex-direction: row;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	align-content: center;
	justify-content: center;

	padding-top: 8px;
	padding-bottom: 8px;
}

.button-container > button {
	min-width: 50%;
	min-height: 56px;
	margin: 4px;
}

.settings-container > form >  * {
	padding: 8px;
}

.settings-form-controls {
	
}

.settings-form-controls  > * {
	padding: 8px;
}

body{
	background-color: whitesmoke;
}

.resizedTextbox{
	border-radius: 25px;  
	text-align: center;
	width: 300px;
	height: 55px;
	font-size: 30px;
}

div{ 
	text-align: center;
}

.inflate-button {
	border-radius: 25px;  
	background-color: rgb(125, 93, 126); 
	height: 100px; 
	width: 400px; 
	font-size: 50px;
}

.deflate-button {
	border-radius: 25px;  
	background-color : rgb(132, 177, 112); 
	height: 100px; 
	width: 400px; 
	font-size: 50px;
}

/* #inflate_1{
	border-radius: 25px;  
	background-color: rgb(125, 93, 126); 
	height: 100px; 
	width: 400px; 
	font-size: 50px;
} */

/* #deflate_1{
	border-radius: 25px;  
	background-color : rgb(132, 177, 112); 
	height: 100px; 
	width: 400px; 
	font-size: 50px;
} */
   
/* #inflate_2{
	border-radius: 25px;  
	background-color:rgb(125, 93, 126); 
	height: 100px; 
	width: 400px; 
	font-size: 50px;
} */

/* #deflate_2{
	border-radius: 25px;
	background-color:rgb(132, 177, 112); 
	height: 100px; 
	width: 400px; 
	font-size: 50px; */
}