<!DOCTYPE html>
<html lang="en">
	<head>
		<script>
			function inflate()
			{
				document.getElementById("command").value = "inflate 1";
				document.getElementById("command_form").submit();
			}
			function deflate()
			{
				document.getElementById("command").value = "deflate 1";
				document.getElementById("command_form").submit();
			}
		</script>
	</head>
	<body>
		<h2>Button control</h2>
		<input type="button" name="inflate" onclick="inflate()" value="Inflate"></button>
		<input type="button" name="deflate" onclick="deflate()" value="Deflate"></button>
		<br>
		<br>

		<form method="post" name="command_form" id="command_form" action="/command">
			<h2>Manual command control</h2>
			<input type="text" id="command" name="command" placeholder="Enter command"/>
			<input type="submit" id="submit_btn" value="submit" name="ok"/>
		</form>
	</body>
</html>
