<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="index.css">
		<script>

			function send_command(str_value)
			{
				document.getElementById("command").value = str_value;
				document.getElementById("command_form").submit();
			}

			function save_settings()
			{
				var cushion_1_nick = document.getElementById("cushion_1_nickname").value;
				var cushion_2_nick = document.getElementById("cushion_2_nickname").value;
				var cushion_1_time = document.getElementById("cushion_1_time").value;
				var cushion_2_time = document.getElementById("cushion_2_time").value;

				if (cushion_1_nick)
				{
					localStorage.setItem("cushion_1_nick", cushion_1_nick);
				}

				if (cushion_2_nick)
				{
					localStorage.setItem("cushion_2_nick", cushion_2_nick);
				}

				if (cushion_1_time)
				{
					localStorage.setItem("cushion_1_time", cushion_1_time);
				}

				if (cushion_2_time)
				{
					localStorage.setItem("cushion_2_time", cushion_2_time);
				}
			}

			function load_stored_settings()
			{
				if (localStorage.getItem("cushion_1_nick") != 'null')				{
					document.getElementById("cushion_1_nickname").value = localStorage.getItem("cushion_1_nick");
				}

				if (localStorage.getItem("cushion_2_nick") != null)
				{
					document.getElementById("cushion_2_nickname").value = localStorage.getItem("cushion_2_nick");
				}

				if (localStorage.getItem("cushion_1_time") != null)
				{
					document.getElementById("cushion_1_time").value = localStorage.getItem("cushion_1_time");
				}

				if (localStorage.getItem("cushion_2_time") != null)
				{
					document.getElementById("cushion_2_time").value = localStorage.getItem("cushion_2_time");	
				}
			}

			function reset_settings()
			{

			}

		</script>
	</head>
	<body>
		<div class="container">
		<div class="container-child">
		<h1>Button control</h1>
	
		<h2>{{context['cushion_1_nickname']}}</h2>
		<input type="button" name="inflate_1" onclick="send_command('inflate cushion_1 1')" value="Inflate"></button>
		<input type="button" name="deflate_1" onclick="send_command('deflate cushion_1 1')" value="Deflate"></button>
		
		
		<h2>{{context['cushion_2_nickname']}}</h2>
		<input type="button" name="inflate_2" onclick="send_command('inflate cushion_2 1')" value="Inflate"></button>
		<input type="button" name="deflate_2" onclick="send_command('deflate cushion_2 1')" value="Deflate"></button>


		<form method="post" name="command_form" id="command_form" action="/command">
			<br>
			<h1>Manual command control</h1>
			<input type="text" id="command" name="command" placeholder="Enter command"/>
			<input type="submit" id="submit_btn" value="submit" name="ok"/>
		</form>

	
		</div>
		<div class="container-child">
		<h1>Settings</h1>
		
		<form method="post" name="settings_form" id="settings_form" action="/settings">
			Cushion 1 Nickname:&nbsp;
			<input type="text" name="cushion_1_nickname" placeholder="Cushion 1 Nickname" value="{{context['cushion_1_nickname']}}" />
			<br><br>
			Cushion 2 Nickname:&nbsp;
			<input type="text" name="cushion_2_nickname" placeholder="Cushion 2 Nickname" value="{{context['cushion_2_nickname']}}"/>
			<br><br>	
			Cushion 1 Inflate Time (seconds):&nbsp;
			<input type="text" name="cushion_1_time" placeholder="Cushion 1 Time" value="{{context['cushion_1_time']}}"/>
			<br><br>	
			Cushion 2 Inflate Time (seconds):&nbsp;
			<input type="text" name="cushion_2_time" placeholder="Cushion 2 Time" value="{{context['cushion_2_time']}}"/>
			<br><br>	
			
			<input type="submit" name="save_settings" value="Save"/>
			<input type="button" name="reset_settings" onclick="reset_settings" value="Reset"/>	
		</form>	
		</div>
		</div>
	</body>
</html>
