<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script src="/static/index.js"></script>
</head>

<body>
	<div class="title">
		<em><blink>Pillow Talk Controls</blink></em>
	</div>
	<div class="pillow-container">
		<div class="button-container">
			<input type="text" id="cushion-1-nickname" class="resizedTextbox" value="{{context["cushion_1_nickname"]}}"
				onkeypress="saveCushionNames(event)">
			<button id="inflate_1" class="inflate-button" onclick="inflate(1, 1)">Inflate</button>
			<button id="deflate_1" class="deflate-button" onclick="deflate(2, 1)">Deflate</button>
			<input class="quantity" id="cushion-1-time" min="0" name="form-0-quantity" value="1" type="number">
		</div>
		<div class="button-container">
			<input type="text" id="cushion-2-nickname" class="resizedTextbox" value="{{context["cushion_2_nickname"]}}"
				onkeypress="saveCushionNames(event)">
			<button id="inflate_2" class="inflate-button" onclick="inflate(3, 2)">Inflate</button>
			<button id="deflate_2" class="deflate-button" onclick="deflate(4, 2)">Deflate</button>
			<input class="quantity" id="cushion-2-time" min="0" name="id_form-0-quantity" value="1" type="number">
		</div>
	</div>
	<div>
		<button id="stop-button" onclick="stopAll()">Stop All</button>
	</div>
</body>

</html>