<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script src="/static/index.js"></script>
</head>

<body>
	<div class="title">
		<em>Pillow Talk Controls</em>
	</div>
	<div class = "pillow-container">
		<div class="button-container">
			<form><input type="text" class="resizedTextbox"></form>
			<button id="inflate_1" class = "inflate-button" onclick ="send_command('inflate cushion_1 1')">Inflate</button>
			<button id="deflate_1" class = "deflate-button" onclick="send_command('deflate cushion_1 1')">Deflate</button>
			<input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number">
		</div>
		<div class="button-container">
			<form><input type="text" class="resizedTextbox"></form>
			<button id="inflate_2" class = "inflate-button" onclick="send_command('inflate cushion_2 1')">Inflate</button>
			<button id="deflate_2" class = "deflate-button" onclick="send_command('deflate cushion_2 1')">Deflate</button>
			<input class = "quantity" id = "id_form-0-quantity" min="0" name="id_form-0-quantity" value="1" type="number">
		</div>
	</div>
	</div>
</body>

</html>