<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script src="/static/index.js"></script>
</head>

<body style="background-color: rgb(245, 227, 255);">
	<div class="title" style ="font-size: 40px; text-align: center;">
		<em>Pillow Talk Controls</em>
	</div>
	<div class="pillow-container">
		<div class="button-container">
			<div class="cushion-nickname" style = "font-size: 30px;"><strong>Cushion 1</strong></div>
			<button id="inflate_1" style="background-color:rgb(125, 93, 126); height: 100px; width: 400px; font-size: 50px;" onclick="send_command('inflate cushion_1 1')">Inflate</button>
			<button id="deflate_1" style="background-color:rgb(132, 177, 112); height: 100px; width: 400px; font-size: 50px;" onclick="send_command('deflate cushion_1 1')">Deflate</button>
		</div>
		<div class="button-container">
			<div class="cushion-nickname" style = "font-size: 30px;"><strong>Cushion 2</strong></div>
			<button id="inflate_2" style="background-color:rgb(125, 93, 126); height: 100px; width: 400px; font-size: 50px;" onclick="send_command('inflate cushion_2 1')">Inflate</button>
			<button id="deflate_2" style="background-color:rgb(132, 177, 112); height: 100px; width: 400px; font-size: 50px;" onclick="send_command('deflate cushion_2 1')">Deflate</button>	
		
		</div>
	</div>

	<div class="settings-container">
		<div class="title">Settings</div>

		<form method="post" name="settings_form" id="settings_form" action="/settings">
			<div>Cushion 1 Nickname:</div>
			<input type="text" name="cushion_1_nickname" placeholder="Cushion 1 Nickname"
				value="{{context['cushion_1_nickname']}}" />

			<div>Cushion 2 Nickname:</div>
			<input type="text" name="cushion_2_nickname" placeholder="Cushion 2 Nickname"
				value="{{context['cushion_2_nickname']}}" />

			<div>Cushion 1 Inflate Time (seconds):</div>
			<input type="text" name="cushion_1_time" placeholder="Cushion 1 Time" value="{{context['cushion_1_time']}}" />

			<div>Cushion 2 Inflate Time (seconds):</div>
			<input type="text" name="cushion_2_time" placeholder="Cushion 2 Time" value="{{context['cushion_2_time']}}" />
			
			<div class="settings-form-controls">
				<input type="submit" name="save_settings" value="Save"/>
				<input type="button" name="reset_settings" onclick="reset_settings" value="Reset" />
			</div>
		</form>

		<form method="post" name="command_form" id="command_form" action="/command">
			<br>
			<div class="title">Manual command control</div>
			<input type="text" id="command" name="command" placeholder="Enter command" />
			<input type="submit" id="submit_btn" value="submit" name="ok" />
		</form>
	</div>
</body>

</html>